

html body {
	background: rgb(255, 255, 255);  /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
	font: 14px 'Montserrat', sans-serif;
	padding-bottom: 70px;
}

.jumbotron {
	background: url("../images/BW-city-skyline-LRG.png") center center no-repeat;
	background-size: cover;
	height: 100%;
	min-height: 400px;

}

.jumbotron p {
	display: inline;
	width: 30%;
	max-width: 40%;
	font: 300 1.7em 'Montserrat', sans-serif;
	line-height: 1.5;
	background: rgba(0, 0, 0, .5);
	color: rgb(255, 255, 255);
	padding: 0 5px 0;
}


.thumbnail {
    border: 0 none;
    box-shadow: none;
}

footer {
	text-align: center;
}

ul, .nav > li, .copyRight {
	display: inline-block;
}

.copyRight {
	font-size: .7em;
	margin-left: 20px;

}

.fa:hover {
	color: tomato;
}

.form-control-border {
	border-radius: 0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
}

.form-control:focus {
	border-color: none;
}

.input-group-addon--bg, .btn--bg {
	border-radius: 0;
	background: rgb(255, 255, 255);
}

.btn:hover {
	background: transparent;
}

 