

html body {
	background: rgb(255, 255, 255);  /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
	font: 14px 'Montserrat', sans-serif;
	padding-bottom: 70px;
}


.jumbotron {
	background: url("../images/CS-image-lib.png") center center no-repeat;
	background-size: cover;
	height: 100%;
	min-height: 500px;*/
}


.jumbotron p {
	display: none;
}


.thumbnail {
    border: 0 none;
    box-shadow: none;
}

footer {
	text-align: center;
}

ul, .nav > li, .copyRight {
	display: inline-block;
}

.copyRight {
	font-size: .7em;
	margin-left: 20px;

